.card-feature{
  background-color: $teal;
  overflow: auto;
  img {
    float: right;
    @media (min-width: 900px){
      max-width: 65%;
    }
  }
  h1 {
    @media (max-width: 900px){
      font-size: 24px;
      padding: 5% 2% 0 2%;
    }
    @media (min-width: 900px){
      padding: 0 2%;
    }
  }
  .feature-body {
    color: $white;
    padding: 0 2%;
  }


  .feature-body, h1{
    color: $white;
  }
}
