// Card Classes -->
.card-container {
    display: block;
    position: relative;
    max-width: 320px;
    border: 1px solid #C0BFBF;
    background-color: #FFFFFF;
    padding: 2px;
    margin: 15px;
  }

  .card-img {
    height: auto !important;
    width: 100%;
    max-width: 100%;
  }
  
  .card-title {
      font-size: 18px;
      color: #1A6986;
      padding: 0;
    }
  .card-body {
    padding: 0;
    color: #4A4A4A
  }